.card.gedf-card(style="background-color: white; padding: 1.5%; border-color: gray; margin: 5px;")
  .card-header
    .container-fluid
      br
      .row
        .col-sm-2
          img(width='45' style="border-radius: 50%" src='https://picsum.photos/50/50' alt='')
        .col-md-8(style="text-align:left;")
          .h5.m-0=user
        .col-sm-2
          i.fa.fa-clock-o
          | 10 min ago
  .card-body(style="padding: 3%;")
    p.card-text(style="text-align: left;")=message
    .container-fluid
      .row
        .col-lg-10
        .col-sm-2
          a.btn.btn-sm.btn-default(style="background-color: gray; font-color: white; object-align:right;") Flag as Cheat
