.card(style="background-color: #fcfcfc; margin: 5px;")
    .card-header
        img(width='100%' style="border-radius: 50%" src=profile_pic alt='')
    .card-body
        h3=person_name
    .card-footer
        .container-fluid
            .row
                .col-sm-4
                    a.fa.fa-linkedin(href=linkedin)
                .col-sm-4
                    a.fa.fa-github(href=github)  
                .col-sm-4
                    i.fa.fa-envelope-o(href='mailto:'+email)