a(href="dashboard?group="+group_id)
    .card.card-no-border.gedf-card()
        .card-body
            .container-fluid(style="padding: 3%;")
                .row
                    .col-sm-2.col-sm-3.col-sm-4
                        img(width='45' style="border-radius: 50%" src=image_url alt='')
                    .col-lg-10.col-md-9.col-md-8
                        h5(style="color: black; text-align: left;")=group_name

