extends template

block content
    .container-fluid.gedf-wrapper(style="width: 85%; margin-left: 7.5%; height: 100%;")
        .backdrop(style="background-color: #ececec; height: 600px; padding: 20px; border-radius: 1%;")
            .container-fluid
                .row(style="text-align: left;")
                    h3 About Aggie Honor Bot
                    p Aggie Honor Bot is a GroupMe bot integration that uses Natural Language Processing and user
                        | feedback to classify chat messages as containing possible cheating. This system was designed to
                        | uphold the Aggie honor code and protect students from cheating reprecussions by warning chat members
                        | of possible honor breaches. 
                    br
                    h3 How it works:
                    p Honor bot scans your group chat and looks for key words and phrases that may suggest cheating. If it flags
                        | a message, it will direct message the members of the group with the message content. If the user agrees
                        | that the message suggests cheating, they will have the option to be redirected to a page where they can
                        | leave the chat to avoid reprecussions. If the users feels the chat does not suggest cheating, they can 
                        | provide this feedback to the bot and the message will be unflagged. 
                    br
                    h3 Add Honor Bot to your chat
                    p Simply sign in with your GroupMe account and navigate to the dashboard. Click the plus icon next 
                        | to the chat you'd like to add. 