extends template

block content
    .container-fluid.gedf-wrapper(style="width: 85%; margin-left: 7.5%; height: 100%;")
        .backdrop(style="background-color: #ececec; height: 800px;")
            .container-fluid
                .row
                    h3 About Aggie Honor Bot
                    p Aggie Honor Bot is a GroupMe bot integration that uses Natural Language Processing and user
                    | feedback to classify chat messages as containing possible cheating. This system was designed to
                    | uphold the Aggie honor code and protect students from cheating reprecussions by warning chat members
                    | of possible honor breaches. 
                    br
                    h3 Add Honor Bot to your chat
                    p Simply sign in with your GroupMe account and navigate to the dashboard. Click the plus icon next
                    | to the chat you'd like to add.