extends template

block content
    .container-fluid.gedf-wrapper(style="width: 85%; margin-left: 7.5%; height: 100%;")
        .backdrop(style="background-color: #ececec; height: 600px; overflow-y: scroll; border-radius: 1%;")
            .container-fluid
                .row
                    .col-md-3(style= "padding:0; max-height:100%; overflow-y: scroll; overflow-x: hidden;")
                        each group in groups
                            - var image_url = group.image
                            - if(!image_url){image_url="https://www.frostclick.com/wp/wp-content/uploads/2015/03/c93763df-07c8-4a8d-83ce-4c8bc0c9c52e.png"}
                            - var group_name = group.name
                            - var group_id = group.id
                            include components/selectorBox
                    script.
                        var token = "kq9BOxeQ8hIFdKHQnXq7bkTYSeRlOSe0HYEA2aLe";
                        function getUrlVars() {
                            var vars = {};
                            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                            vars[key] = value;
                            });
                            return vars;
                        }
                        function reqListener(){
                            console.log(this.responseText);
                        }
                        var group_id = getUrlVars(window.location.href)['group'];
                        document.getElementById("addbot"+group_id).addEventListener('click', function (e) { 
                            console.log('addbot'); 
                            if(confirm('Are you sure you want to add Honor Bot?')){
                                console.log('it worked');
                                let formData = new FormData();
                                var url = "https://api.groupme.com/v3/groups/57206086/members/add?token='"+token+"'";
                                function createCORSRequest(method, url) {
                                    var oReq = new XMLHttpRequest();
                                    if ("withCredentials" in oReq) {

                                        // Check if the XMLHttpRequest object has a "withCredentials" property.
                                        // "withCredentials" only exists on XMLHTTPRequest2 objects.
                                        oReq.open(method, url, true);

                                    } else if (typeof XDomainRequest != "undefined") {

                                        // Otherwise, check if XDomainRequest.
                                        // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
                                        oReq = new XDomainRequest();
                                        oReq.open(method, url);

                                    } else {

                                        // Otherwise, CORS is not supported by the browser.
                                        oReq = null;

                                    }
                                    return oReq;
                                }

                                var oReq = createCORSRequest('GET', url);
                                if (!oReq) {
                                throw new Error('CORS not supported');
                                }
                                oReq.withCredentials = true;
                                formData.append('data', '{"members": [{"nickname": "Aggie Honor Bot", "user_id":"81946993"}]}');
                                oReq.addEventListener("load", reqListener);
                                oReq.open("POST", url);
                                console.log(token);
                                oReq.setRequestHeader("content-type", 'application/json')
                                oReq.send(formData);
                                console.log("sent");
                                //- const ACCESS_TOKEN = 'NyJMui4CjBxQy9gUKK2lgca227DWsztrc97yzwGv';
                                //- var myId = "81946993";
                                //- let API = require("groupme").Stateless;
                                //- API.Members.add(document.cookie.access_token,myId,(err,ret)=>{});
                            }   
                        });
                    .col-md-9(style= "padding:20px; max-height:100%; overflow-y: scroll; ")
                        each message in messages
                            - var user = message.name
                            - var text = message.text
                            - var msg_id = message.id
                            - console.log(message.id);
                            include components/message
                        script.
                            document.getElementById("report0").addEventListener('click', function(e) {
                                console.log("is this even working?");
                                if(confirm("Are you sure you want to report this message?")){
                                    console.log('message reporting');
                                }
                            });
                        
