extend template

block content
    body(style="margin-bottom:0;")
        .site-wrapper
            .site-wrapper-inner
                .container
                    .inner.cover
                        h1.cover-heading Aggie Honor Bot
                        p.lead
                        | Aggie GroupMes do not lie, cheat, or steal, nor tolerate those who do
                        p.lead
                        a.btn.btn-lg.btn-default(onclick="window.location.href = \'" + url + "\';") Login with GroupMe
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )//- extends _bootstrap
