include mixins

doctype html
html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style
        include ../style/main.css
  body
    main
      block header
        header.header
      block content